.container{
    display:flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}
.break{
    flex-basis: 100%;
}
.item1{
    max-height: 1000px;
    max-width: 70%;
    align-items: center;
    margin: auto;
}
#mainDog{
    display: flex;
    justify-content: center;
}
#likeButton{
    display: flex;
    justify-content: center;
    height: 50px;
}
.item2{
    min-width: 0;
    max-width: 100%;
}
